<h2>Concert Details</h2><br />


<ul>
    <li>Artist: <%= @concert.artist %></li><br />
    <li>Date & Time: <%= @concert.date_time %></li><br />
    <li>Location: <%= @concert.location %></li><br />
    <li>Ticket Price: <%= @concert.ticket_price %></li><br />
    <li>Are we getting wasted?: <%= @concert.alcohol_served %></li>
</ul>

