<h5 style="color:#1565c0">Concert Details</h5><br />


<ul style="color:LightGray">
    <li>Artist: <%= @concert.artist%></li><br />
    <li>Date & Time: <%= @concert.date_time%></li><br />
    <li>Location: <%= @concert.location%></li><br />
    <li>Ticket Price: $<%= @concert.ticket_price%>0</li><br />
    <li>Will there be drinks?: <% if @concert.alcohol_served == true %>
                                <p>Yes</p>
                                <% else %>
                                <p>No</p> 
                                 <%end%></li>
</ul><br />

<div class="center">
<iframe src="https://giphy.com/embed/l4FsoQbfD0J53F8Xe" width="480" height="267" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nyckatknight-live-performance-nyck-at-knight-l4FsoQbfD0J53F8Xe">via GIPHY</a></p>
</div>

<% if current_fan.id == @concert.fan_id %>
    <a class="white-text" href="/concerts/<%= @concert.id %>/edit">Edit this Concert</a><br />
<% end %>
<a class="white-text" href="/concerts/<%= @concert.id %>/purchase">Purchase this Concert</a><br /><br />

<p style="color:#f44336;font-size:14px">To delete this concert, click Delete</p>
<form method="POST" action="/concerts/<%= @concert.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form><br /><br />

<i style="color:#1565c0" class="medium material-icons">settings_voice</i>


